// ===================================
// IMPORTS
// ===================================
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// ===================================
// GLOBAL VARIABLES
// ===================================
@body-color: #24292e; // Black
@accent-one: #fafbfc; // White
@accent-two: #2dba4e; // Green
@header-font: Poppins,Helvetica Neue,Arial,sans-serif;
@body-font: Roboto,Tahoma,Verdana,sans-serif;
// body
#root{
  width: 100%;
}
body{
  background-color: @body-color;
}
h1,h2,h3,h4,h5,h6,th{
  font-family: @header-font;
  color: @accent-one;
}
p,a,li,td,figcaption,blockquote{
  font-family: @body-font;
  color: @accent-one;
}
// header
header{
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  .logoContainer{
    width: auto;
    height: 100%;
    flex-grow: 1;
    img{
      width: auto;
      height: 100%;
    }
  }
}
.dashboard-layout{
  padding: 2%;
  .appTitleText{
    text-align: center;
    h1{
      font-size: 3.5rem;
    }
  }
  .filterContainer{
    text-align: center;
    padding: 15px;
    input{
      margin: 0 10px;
      border: solid 2px @accent-two;
      padding: 15px;
      background-color: @body-color;
      ::placeholder{
        color: @accent-one;
      }
    }
  }
}